@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    /* Mengatur margin body ke 0 */
}

ul {
    list-style: none;
}

ul li {
    padding: 0px 15px;
}

a {
    text-decoration: none;
}

nav {
    background-color: #fff;
    box-shadow: -10px 5px 25px -20px rgba(0, 0, 0, 0.75);
    position: absolute;
    transition: box-shadow 0, 5s;
    z-index: 1;
}

/* Tambahkan shadow ke navbar */
.navbar-scrolled {
    box-shadow: none;
    /* Hilangkan shadow */
}

/* main */
main{
    margin-left: 80px;
}

/* section */
.rekomendasi {
    padding: 5px 10px;
}

.open {
    padding: 5px 10px;
    width: 26%;
    background-color: rgb(205, 255, 205);
}

.open .icon {
    color: rgb(0, 255, 0);
}

.item p {
    font-size: 12px;
}


.item div p {
    font-size: 14px;
    font-weight: bold;
}

.list-group-horizontal .item {
    border: none;
    border-right: 1px solid #ddd;
}

.list-group-horizontal .item:last-child {
    border-right: none;
}

.card button {
    font-size: 12px;
    font-weight: bold;
    padding: 5px 10px;
}

/* sidebar */
aside {
    box-shadow: -10px 0 25px -20px rgba(0, 0, 0, 0.75);
    right: 0;
    height: 90%;
}

.toggle-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

aside div p {
    font-size: 12px;
}

aside div.container div p {
    font-size: 14px;
}