@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: url("gambar/makanan1.jpeg");
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:linear-gradient(135deg,rgba(255,255,255,0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    
}
.log a img{
    position: absolute;
    left: 65px;
    top: 6px;
}
.semua h1{
    text-align: center ;    
}
span{
    color: rgb(228, 106, 65) ;
}
.daftar h1{
    text-align: center;
}
form p{
    padding-top: 20px;
    font-size: 12px;
}
.daftar{
    border: 1px solid;
    width: 310px;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 1px 2px 8px 0px;
    background-color: white;
    opacity: 0.7;
}
.form h2,p{
    text-align: center;
}
form h5{
    text-align: center;
    border: 1px solid;
    position: relative;
    border-radius: 5px;
    margin-top: 17px;
}

form h6{

    color: white;
    font-size: 13px;
}   
.form{
    line-height: 30px;
}
.form li{
    list-style: none;
}
#masuk{
    padding: 10px 133px 10px 133px;
    background-color: rgb(228, 106, 65);
    color: white;
    border-radius: 5px;
    border: 1px;
    cursor: pointer;  
    transition: 0.4s all ease-in;  

}
#nama:focus{
    background-color: rgb(235, 235, 235);
    
}
#masuk:hover{
    background-color: rgb(102, 101, 113);
}
#nama{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid;
    cursor: pointer;
}
.form small a{
    float: right;
    padding-right: 7px;
}
.centang{
    align-items: center;
}
a{
    text-decoration: none;
    color: black;
}

