@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    /* Mengatur margin body ke 0 */
}

ul {
    list-style: none;
}

ul li {
    padding: 0px 15px;
}

a {
    text-decoration: none;
}

nav {
    background-color: #fff;
    position: absolute;
    transition: box-shadow 0, 5s;
    z-index: 1;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* Tambahkan shadow ke navbar */
.navbar-scrolled {
    box-shadow: none;
    /* Hilangkan shadow */
}

.nambah p {
    margin: 0;
}

footer {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}